# K3s Configuration
# ============================================
K3S_VERSION=v1.31.4-k3s1
K3S_API_PORT=6443
K3S_HTTP_PORT=8888
K3S_TOKEN=
K3S_SERVER_URL=https://k3s:6443

# Rancher Configuration
# ============================================
RANCHER_HTTPS_PORT=443
RANCHER_SYSTEM_REGISTRY=
RANCHER_AUDIT_LEVEL=0
RANCHER_BOOTSTRAP_PASSWORD=changemechangeme
SERVER_URL=https://rancher.staging.csds.qld.edu.au:443
DOMAIN=rancher.staging.csds.qld.edu.au
ACME_EMAIL=you@example.com