# ============================================
# Rancher Configuration
# ============================================
RANCHER_HTTP_PORT=80
RANCHER_HTTPS_PORT=443
RANCHER_BOOTSTRAP_PASSWORD=admin12345
RANCHER_SYSTEM_REGISTRY=
RANCHER_AUDIT_LEVEL=0

# ============================================
# K3s Configuration
# ============================================
K3S_VERSION=v1.31.4-k3s1
K3S_API_PORT=6443
K3S_HTTP_PORT=8888
K3S_TOKEN=mysecrettoken
K3S_SERVER_URL=https://k3s:6443
